[package]
name = "beancount-parser"
version = "2.1.0"
license = "Unlicense"
authors = ["Jonathan Cornaz"]
edition = "2021"
rust-version = "1.70.0"
description = "A beancount file parser library for rust"
repository = "https://github.com/jcornaz/beancount-parser"
categories = ["parser-implementations"]
keywords = ["parsing", "beancount", "accounting"]

[badges.maintenance]
status = "passively-maintained"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
# Public
miette = { version = "6.0", optional = true }

# Private
nom = { version = "7.1", default-features = false, features = ["std"] }
nom_locate = { version = "4.2", default-features = false }
thiserror = "1.0"

[dev-dependencies]
criterion = "0.5.1"
rstest = { version = "0.18.2", default-features = false }
rust_decimal = { version = "1.34", default-features = false }
miette = { version = "6.0", features = ["fancy"] }

[lints.rust]
future_incompatible = "deny"
nonstandard_style = "deny"
unsafe_code = "deny"
private_interfaces = "deny"
private_bounds = "deny"
rust_2018_idioms = "warn"
missing_docs = "warn"

[lints.clippy]
pedantic = "warn"

[[bench]]
name = "benchmark"
harness = false

[[example]]
name = "balance"
required-features = ["miette"]
