[package]
name = "beancount-parser"
version = "1.15.0" # bump
license = "Unlicense"
authors = ["Jonathan Cornaz"]
edition = "2021"
rust-version = "1.60.0"
description = "A beancount file parser library for rust"
repository = "https://github.com/jcornaz/beancount-parser"
categories = ["parser-implementations"]
keywords = ["parsing", "beancount", "accounting"]

[package.metadata.docs.rs]
all-features = true

[features]
unstable = ["pest", "pest_derive"]
unstable-span = []
rust_decimal = []

[dependencies]
nom = { version = "7.1", default-features = false, features = ["std"] }
rust_decimal = { version = "1.29", default-features = false }
thiserror = { version = "1.0", default-features = false }
pest = { version = "2.6", default-features = false, features = ["std"], optional = true }
pest_derive = { version = "2.6", default-features = false, features = ["std"], optional = true }

[dev-dependencies]
criterion = "0.4.0"
rstest = { version = "0.17.0", default-features = false }

[build-dependencies]
rustc_version = "0.4.0"

[profile.dev]
opt-level = 1
debug = false

[profile.release]
lto = true
codegen-units = 1

[[bench]]
name = "benchmark"
harness = false
