[package]
name = "beancount-parser"
version = "1.16.1"
license = "Unlicense"
authors = ["Jonathan Cornaz"]
edition = "2021"
rust-version = "1.60.0"
description = "A beancount file parser library for rust"
repository = "https://github.com/jcornaz/beancount-parser"
categories = ["parser-implementations"]
keywords = ["parsing", "beancount", "accounting"]

[package.metadata.docs.rs]
all-features = true

[features]
unstable = []
rust_decimal = []

[dependencies]
nom = { version = "7.1", default-features = false, features = ["std"] }
rust_decimal = { version = "1.30", default-features = false }
thiserror = { version = "1.0", default-features = false }
nom_locate = { version = "4.1", default-features = false }


[dev-dependencies]
criterion = "0.5.1"
rstest = { version = "0.17.0", default-features = false }

[build-dependencies]
version_check = "0.9.4"

[[bench]]
name = "benchmark"
harness = false
